@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f8f9fa !important;
}

.hr-gradient {
  @apply w-full bg-transparent;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0)
  );
  height: 1px;
}

.link-ac {
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
}
.box-ac {
  background-image: linear-gradient(310deg, #cb0c9f 0%, #cb0c9f 100%);
}
.shadow {
  box-shadow: 0 0.25rem 0.375rem -0.0625rem rgba(20, 20, 20, 0.12),
    0 0.125rem 0.25rem -0.0625rem rgba(20, 20, 20, 0.07) !important;
}

.bg-gradient-primary {
  background-image: linear-gradient(310deg, #7928ca 0%, #ff0080 100%);
}

.list-menu:hover {
  background-color: white;
  cursor: pointer;
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
  border-radius: 0.5rem;
}
